/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {

     font-family: 'Roboto', sans-serif;

}
html{
     font-size:62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
     display:flex;
     justify-content: center;

}

footer {
width:100%;
     margin-top: 5rem;
    
     position:fixed;
     bottom:0;
     display:flex;
     justify-content: flex-end;
}

footer a{

     font-size: 1.6rem;
     text-decoration: none;
     color:rgba(219, 144, 127, 0.494);      
}

section{
    font-size:1.8rem;
    line-height: 1.3;
    margin: .5rem .5rem; 
}

/*logo*/
img#headlogo{
     max-width:27rem;
}

/*DRINK PHOTO*/
img.image{
     display: block;
     margin: 1.5rem auto;
     width: 25rem;
     border-radius:10px;
}

/*MENU*/
section.item{
     display:flex;
     justify-content:center;
     margin: 2rem;
}

select#drinks{
     width:30rem;
}

.big {
     font-size: 1.2em;
   }
   
   .small {
     font-size: 1.8rem;
   }
   
   .square {
     width: .7em;
     height: .7em;
     margin: .5em;
     display: inline-block;
   }
   
   /* Custom dropdown */
   .custom-dropdown {
     position: relative;
     display: inline-block;
     vertical-align: middle;
     margin: 10px; /* demo only */
   }
   
   .custom-dropdown select {
     background-color: rgb(219, 144, 127);
     color: #fff;
     font-size: inherit;
     padding: .5em;
     padding-right: 2.5em; 
     border: 0;
     margin: 0;
     border-radius: 3px;
     text-indent: 0.01px;
     text-overflow: '';
     -webkit-appearance: button; /* hide default arrow in chrome OSX */
   }
   
   .custom-dropdown::before,
   .custom-dropdown::after {
     content: "";
     position: absolute;
     pointer-events: none;
   }
   
 
   
   .custom-dropdown select[disabled] {
     color: rgba(0,0,0,.3);
   }
   
   .custom-dropdown select[disabled]::after {
     color: rgba(0,0,0,.1);
   }
   
   .custom-dropdown::before {
     background-color: rgba(0,0,0,.15);
   }
   
   .custom-dropdown::after {
     color: rgba(0,0,0,.4);
   }


/*MAIN*/
section.main{
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items: center;
}


/*MEASUREMENTS AND INGREDIENTS*/
section.lists{
     display:flex;
}
ul.mList{
     
     text-align:right;
     }
ul.mList li{
     text-align:right;
     }

ul.igList{

text-align:left;
}
.lists div{
   
     margin:.5rem;

}

/*INSTRUCTIONS*/
p.directions{
    width:30rem;
     display:flex;
     flex-direction:row;
     justify-content: center;
}
     

